/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(105, 105, 105, 0.8);
    /* Thin grey box shadow */
}

.left-box {
    background-color: #29cc56;
    width: 40%;
    padding: 40px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-box h2 {
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.right-box {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #29cc56;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #25b44e;
}

.forgot-password, .signup {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.forgot-password a, .signup a {
    color: #29cc56;
    text-decoration: none;
}

.signup a:hover, .forgot-password a:hover {
    text-decoration: underline;
}